@import url(C:\Users\kosty\Desktop\ModsenTestTask\bookshop\src\styles\app.css);

.mySelect{
  width: 15vw;
  height: 3vw;
  border: none;
  font-size: 1.15rem;
  color: var(--text-select-box-color);
  border-radius: 20px;
  padding-left: 0.5em;
  border-right: 0.5em solid transparent;
}

.myOption {
  background-color: white;
  
}

@media screen and ((max-width: 750px)){
  .mySelect{
    height: 5vw;
    font-size: 0.9rem;
  }
}
@media screen and ((max-width: 420px)){
   .mySelect{
    width:35vw;
   }
}