* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  display: flex;
  flex-direction: column;
  --text-main-light-color: aliceblue;
  --text-select-box-color: #3a3a3a;
  --header-background-img: '@/assets/header_background.jpg';
}