.header_wrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 15px;
  height: 260px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url();
  background-position: center;
}

.pageTitle {
  font-size: 4rem;
  padding: 0;
  margin-bottom: 10px;
  color: var(--text-main-light-color);
}

.bottomHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5vw;
}